<section class="section about">
  <div class="container">
    <div class="about__label">
      <p class="about__title">tradition and love</p>
      <h2 class="about__subtitle">how it’s made?</h2>
    </div>
    <div>
      <img src="./images/about/mobile/about-cow-mob-x1.png" alt="" width="280px" height="280px">
    </div>
    <div class="about__description">
      <p class="about__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
        lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
      <p class="about__text about__text--light">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
        Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
        maximus. Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.</p>
    </div>

    <button about-modal-open class="button about__button">
      <span class="about__button-text">Read more</span>
      <span>
        <svg class="mob-menu__buy-icon" width="7" height="10">
          <use href="./images/icons.svg#icon-header-arrow-btn"></use>
        </svg>
      </span>
    </button>

    <div class="about__readmore-modal--backdrop about__readmore-modal--is-hidden" about-modal>
      <div class="modal-default-container about__readmore-modal">
        <button about-modal-close class="about__readmore-modal--close-btn">
          <svg class="contact__locations-modal--close-icon">
            <use href="./images/modal-icons.svg#products-close-button"></use>
          </svg>
        </button>
        <h2 class="about__readmore-modal--heading"></h2>
        <div class="about__readmore-text">
          <h3>Pasteurisation</h3>
          <p>This technique heats milk to 72°C for no less than 15 seconds, then cooled immediately to destroy any
            harmful bacteria
            and micro-organisms. This also extends the shelf life.</p>
          <h3>Homogenisation</h3>
          <p>
            Milk is put under pressure through fine nozzles, which evenly disperses fat globules. This stops the cream
            separating and rising to the top, allowing a more consistent texture and taste. Some manufacturers produce
            unhomogenised milk for people who prefer the cream to separate and rise to the top of the bottle.

            Today's farm technology, cattle management and factory methods allow for greater consistency of milk, and
            milk composition can be adjusted for year-round consistency. Milk composition is standardised so elements
            like fat content are made consistent no matter the season or breed of cow the milk comes from.

            The composition of milk is governed by the Food Standards Australia New Zealand Food Standards Code. These
            standards are consistent with international standards – milk consumed in nearly all developed countries will
            have very similar standards. The Code allows manufacturers to add or withdraw milk components to standardise
            the composition of milk sourced from dairy farms, as required, to produce nutritionally consistent and safe
            products. Under the Code, the standard for packaged full-fat milk requires that it contain at least 3.2% of
            fat and 3.0% of protein.
          </p>
          <h3>Ultrafiltration</h3>
          <p>
            This moves milk across a membrane under moderate pressure, which holds back protein, fat globules, and a
            large amount of
            calcium complexes.

            Water and lactose (the sugar in milk) pass through, leaving behind a very protein and calcium-rich product.
            The fat
            content can be adjusted to suit consumer preference.
          </p>
          <h3>Permeate</h3>
          <p>
            In order to standardise milk year-round, some manufacturers use a process called ultrafiltration where a
            membrane filter
            separates certain elements from milk (just like in the descriptions above). Milk is passed through a very
            fine filter,
            and the lactose (milk sugar), vitamins and minerals that filter through are referred to as "permeate".

            Permeate is a technical term which applies to all membrane filtration processes used across food production
            and other
            industries. For example, when producing apple juice the fruit is put through a similar filtration process
            where permeate
            is the clear juice we end up buying and consuming.

            In milk processing, the word "permeate" does not refer to anything added which was not already part of milk.

            That filter helps milk producers make milk with consistent properties, which helps it conform to the Food
            Standards
            Australia New Zealand Food Standards Code.
          </p>
        </div>

      </div>
    </div>




  </div>



</section>